@inject IJSRuntime JSRuntime

<h3 class="mb-3">@title</h3>

<label class="mb-3">@content</label>

<div class="text-center">
    <button class="btn btn-primary" @onclick="Close">@accept</button>
</div>

@code {
    string title; string content; string accept; string language;

    LanguageController lc = new LanguageController();
    [CascadingParameter] BlazoredModalInstance modalInstance { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await GetLanguage();
        Language();
    }

    private async Task Close() => await modalInstance.CloseAsync();

    private void Language()
    {
        lc.ModalNoti(ref language, ref title, ref content, ref accept);
    }

    private async Task GetLanguage()
    {
        language = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "language");
    }
}
